html{
	background-color: lightblue;
}

form, table{
	border-radius: 40px;
	padding: 20px;
	margin: auto;
	border-style: solid;
	background-color: cadetblue;
}

#main_header{
	text-align: center;
	padding: 0 0 40px 0;
}

.file_name{
	padding-bottom: 20px;
	text-align: left;
}

.file_link{
	padding-bottom: 20px;
	text-align: right;
}

#front_page_link{
	text-align: center;
	font-weight: bold;
}

#file_selector{
	text-align: center;
}