body{
	background-color: lightblue;
}

form{
	padding: 1em;
}

table{
	margin: auto;
}

main{
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr;
	gap: 2em;
}

article{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	place-items: center;
	background-color: cadetblue;
	border-radius: 1em;
	border-style: solid;
	text-align: center;
	grid-column-start: 1;
	grid-row-start: 1;
}

nav{
	background-color: cadetblue;
	border-radius: 1em;
	border-style: solid;
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 1;
	padding: 0.7em;
}

header{
	text-align: center;
	padding: 0 0 10px 0;
}

input[type="file"]::file-selector-button, input[type="submit"]{
	padding: 0.4em;
	background-color: DarkSeaGreen;
	border-color: black;
}

.file_name{
	padding-bottom: 20px;
	text-align: left;
}

.file_size{
	padding-bottom: 20px;
	text-align: right;
}

#fail{
	color: maroon;
	font-weight: bold;
}

#success{
	color: navy;
	font-weight: bold;
}

#site_error{
	text-align: center;
	border-radius: 20px;
	margin: auto;
	border-style: solid;
	background-color: RosyBrown;
	padding: 1em;
}

footer{
	text-align: center;
	border: solid;
	margin: 1em 0 0 0;
	background-color: cadetblue;
	border-radius: 1em;
}
