{% extends "base.html" %}
{% block content %}
	<header>
		<h2>Admin panel</h2>
	</header>
	{% include "status.html" %}
	<h3>Create account</h3>
	<form method="post" class="post_form">
		{{account_create_form.csrf_token}}
		{{account_create_form.username.label}}
		{{account_create_form.username()}}
		{{account_create_form.password.label}}
		{{account_create_form.password()}}
		{{account_create_form.permissions.label}}
		{{account_create_form.permissions()}}
		{{account_create_form.submit_button()}}
	</form>
	<h3>Change configuration settings</h3>
	<form method="post" class="post_form">
		{{config_update_form.csrf_token}}
		{{config_update_form.action()}}
		{% for input in config_update_form %}
			{% if input.type != 'HiddenField' and input.type != 'SubmitField' and input.type != 'CSRFTokenField' %}
				{{input.label}}
				{{input()}}
			{% endif %}
		{% endfor %}
		{{config_update_form.submit_button()}}
	</form>
{% endblock %}