<!doctype HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Tobiasz Duliniec">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>file storage</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link rel="stylesheet" href="style.css">
	</head>
		<body>
			<h1 id="main_header">FileStorage</h1>
			{% if request.endpoint != "index" %}
				<p id="front_page_link"><a href="/">Go back to front page</a></p>
			{% endif %}
			{% block content %}{% endblock %}
			<footer>
				<p>Author: Tobiasz Duliniec</p>
				<p><a href="https://github.com/Tobiasz-Duliniec/FileStorage">Source code on GitHub</a></p>
			</footer>
		</body>
</html>
