<!doctype HTML>
<html lang="en">
	<head>
		<title>file storage</title>
		<link rel="stylesheet" href="style.css">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
		<body>
			<h1 id="main_header">FileStorage</h1>
			{% if request.endpoint != "index" %}
				<p id="front_page_link"><a href="/">Go back to front page</a></p>
			{% endif %}
			{% block content %}{% endblock %}
			<footer>
				<p>Author: Tobiasz Duliniec</p>
			</footer>
		</body>
</html>
