<!doctype HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<link rel="icon" type="image/x-icon" href="{{url_for('send_favicon')}}">
		<meta name="author" content="Tobiasz Duliniec">
		<title>file storage</title>
	</head>
	<body>
		<header>
			<h1>FileStorage</h1>
		</header>
		<main>
			<nav>
				<header>
					<h2>Links</h2>
				</header>
				<a href="/">Main page</a><br>
				<a href="/download">Download files</a><br>
				<a href="/upload">Upload files</a><br>
			</nav>
			<article>
				{% block content %}{% endblock %}
			</article>
		</main>
		<footer>
			<p>Author: Tobiasz Duliniec</p>
			<p><a href="https://github.com/Tobiasz-Duliniec/FileStorage" target="_blank" rel="noref noopen">Source code on GitHub</a></p>
		</footer>
	</body>
</html>