{% extends "base.html" %}
{% block content %}
	<div id="file_infotable">
		<header>
			<h1>File information</h1>
		</header>
		{% include "status.html" %}
		{% if request.path.startswith('/shared_files/') %}
			<p>File name: {{file[0]}}</p>
			<p>File size: {{file[3]}} (megabytes)</p>
			<p>Shared by: {{file[2]}}</p>
			<form action="/shared_file_download/{{file[4]}}" method="get">
				{{file_download_form.csrf_token}}
				{{file_download_form.action()}}
				{{file_download_form.submit_button()}}
			</form>
		{% else %}
			<p>File name: {{file[0]}}</p>
			<p>File size: {{file[1]}} (megabytes)</p>
			<p>Status: {% if file[2] is none %}not shared{% else %}shared (share URL: {{request.url_root}}shared_files/{{file[2]}}){% endif %}</p>
			<form action="/download/{{file[0]}}" method="post">
				{{file_download_form.csrf_token}}
				{{file_download_form.action()}}
				{{file_download_form.submit_button()}}
			</form>
			{% if file[2] is none %}
				<form action="/share/{{file[0]}}" method="post">
				{{file_share_form.csrf_token}}
				{{file_share_form.action()}}
				{{file_share_form.submit_button()}}
				</form>
			{% else %}
				<form action="/unshare/{{file[0]}}" method="post">
				{{file_unshare_form.csrf_token}}
				{{file_unshare_form.action()}}
				{{file_unshare_form.submit_button()}}
				</form>
			{% endif %}
				<form action="/delete/{{file[0]}}" method="post">
				{{file_delete_form.csrf_token}}
				{{file_delete_form.action()}}
				{{file_delete_form.submit_button()}}
			</form>
		{% endif %}
	</div>
{% endblock %}