{% extends "base.html" %}
{% block content %}
	<div id="file_infotable">
		<header>
			<h1>File information</h1>
		</header>
		{% include "status.html" %}
		{% if request.path.startswith('/shared_files/') %}
			<p>File name: {{file.public_filename}}</p>
			<p>File size: {{file.file_size}} (megabytes)</p>
			<p>Shared by: {{file.owner_username}}</p>
			<form action="/shared_file_download/{{file.public_filename}}" method="post">
				{{file_download_form.csrf_token}}
				{{file_download_form.action()}}
				{{file_download_form.submit_button()}}
			</form>
		{% else %}
			<p>File name: {{file.public_filename}}</p>
			<p>File size: {{file.file_size}} (megabytes)</p>
			<p>Status: {% if file.shareURL is none %}not shared{% else %}shared (share URL: {{request.url_root}}shared_files/{{file.shareURL}}){% endif %}</p>
			<form action="/download/{{file.public_filename}}" method="post">
				{{file_download_form.csrf_token}}
				{{file_download_form.action()}}
				{{file_download_form.submit_button()}}
			</form>
			{% if file.shareURL is none %}
				<form action="/share/{{file.public_filename}}" method="post">
				{{file_share_form.csrf_token}}
				{{file_share_form.action()}}
				{{file_share_form.submit_button()}}
				</form>
			{% else %}
				<form action="/unshare/{{file.public_filename}}" method="post">
				{{file_unshare_form.csrf_token}}
				{{file_unshare_form.action()}}
				{{file_unshare_form.submit_button()}}
				</form>
			{% endif %}
				<form action="/delete/{{file.public_filename}}" method="post">
				{{file_delete_form.csrf_token}}
				{{file_delete_form.action()}}
				{{file_delete_form.submit_button()}}
			</form>
		{% endif %}
	</div>
{% endblock %}