{% extends "base.html" %}
{% block content %}
	<div id="file_selector">
		<header>
			<h2>File uploader</h2>
		</header>
		{% if saved is defined %}
			{% if saved %}
				<p id="success">{{status}}</p>
			{% else %}
				<p id="fail">{{status}}</p>
			{% endif %}
		{% endif %}
		<form method="post" enctype="multipart/form-data">
			<label for="file">Choose file:</label>
			<input type="file" name="file" id="file_attacher" required>
			<input type="submit" value="Submit!" id="submit_button">
		</form>
	</div>
{% endblock %}