<!doctype HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('send_css')}}">
		<link rel="icon" type="image/x-icon" href="{{url_for('send_favicon')}}">
		<meta name="author" content="Tobiasz Duliniec">
		<title>file storage</title>
	</head>
	<body>
		<header id="main_header">
			<h1>FileStorage</h1>
		</header>
		<main>
			<nav>
				<header>
					<h2>Links</h2>
				</header>
				<span>{% if request.path == "/" %}<strong>Main page</strong>{% else %}<a href="/">Main page</a>{% endif %}</span>
				{% if session['username'] %}<span>{% if request.path == url_for('download_file_page') %}<strong>Download files</strong>{% else %}<a href="{{url_for('download_file_page')}}">Download files</a>{% endif %}</span>{% endif %}
				{% if session['username'] %}<span>{% if request.path == url_for('upload_file_page') %}<strong>Upload files</strong>{% else %}<a href="{{url_for('upload_file_page')}}">Upload files</a>{% endif %}</span>{% endif %}
				{% if is_admin %}{% if session['username'] %}<span>{% if request.path == url_for('admin') %}<strong>Admin panel</strong>{% else %}<a href="{{url_for('admin')}}">Admin panel</a>{% endif %}</span>{% endif %}{% endif %}
				{% if not session['username'] %}<span>{% if request.path == url_for('login') %}<strong>Login</strong>{% else %}<a href="{{url_for('login')}}">Login</a>{% endif %}</span>{% endif %}
				{% if session['username'] %}<span>{% if request.path == url_for('logout') %}<strong>Logout</strong>{% else %}<a href="{{url_for('logout')}}">Logout</a>{% endif %}</span>{% endif %}
			</nav>
			<article>
				{% block content %}{% endblock %}
			</article>
		</main>
		<footer>
			<p>Author: Tobiasz Duliniec</p>
			<p><a href="https://github.com/Tobiasz-Duliniec/FileStorage" target="_blank" rel="noreferrer noopener">Source code on GitHub</a></p>
		</footer>
	</body>
</html>