{% extends "base.html" %}
{% block content %}
	<header>
		<h2>User account</h2>
	</header>
	<p>Username: {{username}}</p>
	<h3>Change password</h3>
	{% include "status.html" %}
	<form method="POST" class="post_form">
		{{password_reset_form.csrf_token}}
		{{password_reset_form.current_password.label}}
		{{password_reset_form.current_password()}}
		{{password_reset_form.new_password.label}}
		{{password_reset_form.new_password()}}
		{{password_reset_form.confirm_password.label}}
		{{password_reset_form.confirm_password()}}
		{{password_reset_form.submit()}}
	</form>
{% endblock %}