{% extends "base.html" %}
{% block content %}
	<div>
		<header>
			<h2>File download</h2>
		</header>
		{% include "status.html" %}
		{% if number_of_all_files > 0 %}
			<p>Currently showing {{number_of_files}} out of {{number_of_all_files}} stored files ({{request.args.get('start')|int + 1}} - {% if request.args.get('start')|int + config['MAX_FILES_PER_PAGE'] < number_of_all_files %}{{request.args.get('start')|int + config['MAX_FILES_PER_PAGE']}}{% else %}{{number_of_all_files}}{% endif %})</p>
			{% if request.args.get('start')|int > 0 %}
				<a href="?start={{ request.args.get('start')|int - config['MAX_FILES_PER_PAGE'] }}" class="link_button">Previous page</a>
			{% endif %}
			{% if number_of_files < number_of_all_files and request.args.get('start')|int + config['MAX_FILES_PER_PAGE'] < number_of_all_files %}
				<a href="?start={{request.args.get('start')|int + config['MAX_FILES_PER_PAGE']}}" class="link_button">Next page</a>
			{% endif %}
			<table class="download_table">
				<tr>
					<th>file name</th>
					<th>file size (megabytes)</th>
				</tr>
				{% for file in files %}
				<tr>
					<td class="file_name"><a href="/files/{{file}}">{{file}}</a></td>
					<td class="file_size">{{files[file]}}</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>No files to download.</p>
		{% endif %}
	</div>
{% endblock %}