{% extends "base.html" %}
{% block content %}
	<header>
		<h2>Log in</h2>
	</header>
	{% if success is defined and not success %}
	<div id="site_error">
		<p id="error">Log in failed: username and/or password is incorrect</p>
	</div>
	{% endif %}
	<form method="POST" class="post_form">
		{{login_form.csrf_token}}
		{{login_form.username.label}}
		{{login_form.username()}}
		{{login_form.password.label}}
		{{login_form.password()}}
		{{login_form.submit()}}
	</form>
{% endblock %}